<?xml version="1.0" encoding="utf-8"?>
<!-- Debug-only test hook for the wake alarm; never part of a release build. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".alarm.DebugAlarmReceiver"
            android:exported="true" />
    </application>
</manifest>
